body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('vid/wallpaper\ 3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  }

.btn a{
    text-decoration: none;
    background: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    overflow-x: hidden;
}
h1, p {
    color: white;
}
img{
    width: 20rem;
    align-items: center;
    justify-content: center;

}

.btn a:hover {
    background-color: #5d5a5a;
    color: black;
  }